<html>
    <header>
        <title>Convert My Money</title>
        <link rel="stylesheet" href="styles.css">
    </header>
    <body>
        <h1><a src="/"><img src="conversion.png"></a></h1>
