<%- include('header') %>
<form method="GET" action="/convert">
    <input id="input-text" type="text" placeholder="Cotation" name="cotation" readonly="readonly" value="<%= cotation %>"><br>
    <input id="input-text" type="text" placeholder="Amount" name="amount"><br>
    <input id="button" type="submit" value="Convert">
</form>
<%- include('footer') %>
